data/
diffusers/
nsd_subject01_train.h5

__pycache__/
*.out
*.err
cache/
checkpoints/
checkpoints_NewTrain/
checkpoints_caption/
wandb/
versatile_diffusion/
*.h5
*.pt
*.pth
*.ckpt
debug.log
*.bak
models/pretrained.zip
models/ensemble_lora/
models/clip_vitb16_pretrain.pth.tar
models/open_clip_vitb16_pretrain.pth.tar
